.district-card {
  box-sizing: border-box; 
  border: 5px solid #5E6165; 
  border-radius: 15px;  
  padding: 8px; 
  width: 200px; 
  cursor: pointer; 
  margin: 15px; 
}

.selected-card {
  background-color: aqua; 
}

h1 {
  text-align: center; 
  overflow-wrap: break-word; 
}

li {
  text-align: center; 
  list-style: none; 
  margin: 5px 5px; 
}

.above {
  border-radius: 15px; 
  background-color: #12A73C; 
}

.below {
  border-radius: 15px; 
  background-color: #9A9B9C; 
}